.magazineList-table{
	flex: 100%;
    max-width: 100%;
}
.magazineList-tr:hover{
	transition: 0.5s;
	background-color: #fbb710;
}
.magazine-writer{
	width: 100%;
	text-align: right;
}
.magazineList-img{
	height: 100px;
}
.magazine-behindPageButton-parent{
	text-align: center;
}
.magazine-behindPageButton{
	border: none;
	background-color: #fbb710;
	color: white;
	width: 30%;
}
.magazine-behindPageButton:hover{
	transition: 0.3s;
	border: none;
	background-color: black;
	color: white;	
}
.magazine-image-parent{
	margin: auto;
    max-width: 70%;
    width: 70%;
    height: auto;
}
.magazine-image{
	margin-bottom: 5%;
}
.magazine-returnToTitleButton{
	text-align: center;
}
.magazine-returnToTitleButton Button{
    width: 20%;
}