.payment-goods{
	background-color: #f5f7fa;
    margin-top: 10px;
    position: relative;
    z-index: 1;
    padding: 30px 20px;
}
.payment-cart-summary{
	margin-top: 130px !important;
}
body{
 -ms-overflow-style: none;
 }
 
::-webkit-scrollbar {
  display: none;
}