<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dongwon.QnA.QnAMapper">
    <select id="qnaInfo" resultType="QnA">
		SELECT member_id, 
			   member_type,
			   name,
			   password,
			   email,
			   tel
		FROM   Member
	</select>
</mapper>