<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hyunook.ProductList.GoodsMapper">
	<select id="privateProductList" resultType="common.Goods" parameterType="String">
	   <!-- 개인판매자 조회 -->
	    SELECT * 
       FROM goods
       WHERE member_id IN (SELECT member_id
                          FROM member
                          WHERE member_type='SELLER')
       AND category_id IN(SELECT category_id
                           FROM CATEGORIES
                           WHERE name = #{name } )
       
	</select>
	
	<select id="goodsList" resultType="common.Goods">
		SELECT goods_id,
               name,
               description,
               price,
               req_date,
               member_id
		FROM (SELECT /*+ INDEX_DESC(b SYS_C008505) */ rownum rn, b.*
			  FROM goods b
			  <![CDATA[
			  WHERE rownum <= (#{page} * 5)
			  ]]>
			  ) a
		WHERE a.rn > (#{page} - 1) * 5
	</select>
	
	<select id="getTotalCnt" resultType="int">
		SELECT COUNT(*)
		FROM goods
	</select>
	
	<select id="selectGoods" parameterType="int" resultType="goods">
		SELECT goods_id,
			   name,
			   description,
			   image,
			   req_date,
			   member_id
		FROM goods
		WHERE goods_id = #{goodsId}
	</select>
	
	<insert id="insertGoods" parameterType="common.Goods">
		INSERT INTO goods  (goods_id,
	                        name,
	                        description,
	                        price,
	                        hashtag,
	                        view_cnt,
	                        image,
	                        goods_state,
	                        req_type,
	                        req_date,
	                        resp_date,
	                        category_id,
	                        member_id,
	                        score_id)
		VALUES (goods_id_seq.NEXTVAL,
                #{name},
                #{description},
                1000,
                '#',
                0,
                #{image},
                'sale',
                'NONE',
                SYSDATE,
                SYSDATE,
                1,
                'userId1',
                1)
	</insert>
	
	<delete id="removeGoods" parameterType="int">
		delete goods cascade where goods_id = #{goodsId}
	</delete>
	
	<update id="updateGoods" parameterType="common.Goods" >
		UPDATE goods
		SET    name = #{name},
			   description = #{description},
			   image = #{image}
		WHERE goods_id = #{goodsId}
	</update>
</mapper>