<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="config/db.properties" />

<!-- _가 들어간 column명에서 _를 생략해준다. -->
  <settings>
  	<setting name="mapUnderscoreToCamelCase" value="true"/>
  </settings>
  
  <!-- Mapper에서 지정될 parameterType의 별칭 설정 -->
  <typeAliases>
  	<!-- <typeAlias alias="search" type="co.yedam.common.SearchVO"/> -->
  	<typeAlias alias="Test" type="common.TestClass"/>
  	
  	<!-- 동원 작업 typeAlias 시작점-->
  	<typeAlias alias="QnA" type="dongwon.QnA.QnA"/>
  	<typeAlias alias="Cart" type="dongwon.Cart.Cart"/> 	
  	<!-- 동원 작업 typeAlias 종료점-->
  	
  	<typeAlias alias="member" type="common.Member"/>
  	<typeAlias alias="goods" type="common.Goods"/>
  </typeAliases>
  
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
      </dataSource>
    </environment>
  </environments>
  
  <!-- 각 파트마다 생성될 Mapper의 경로 설정 -->
  <mappers>
  	<!-- 생성 예제 -->
    <!-- <mapper resource="co/yedam/board/mapper/BoardMapper.xml"/> -->
    <mapper resource="common/testMapper.xml" />
    <!-- 동원 작업 경로설정 시작점 -->
    <mapper resource="dongwon/Mypage/MypageMapper.xml" />
    <mapper resource="dongwon/Cart/CartMapper.xml" />
    <mapper resource="dongwon/QnA/QnAMapper.xml" />
    <mapper resource="dongwon/Support/SupportMapper.xml" />
    <!-- 동원 작업 경로설정 종료점 -->
    <mapper resource="changoh/Payment/PaymentMapper.xml" />
  </mappers>
</configuration>